<script src="https://apis.google.com/js/platform.js" async defer></script>

<meta name="google-signin-client_id" content="317840888770-ue0frop1i78gqfj2j5e6n9u5ppa90k1s.apps.googleusercontent.com">
<div class="g-signin2" data-onsuccess="onSignIn"></div>